<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="main">
        <div class="header">
            <!-- <h1> PARA (Personal AI Research Agent)</h1> -->
        </div>
        <div class="middle">
            <button id="toggleBtn">☰</button>
            <div class="sidebar" id="sidebar">
                <ul>
                    <li><a href="#">New Chat</a></li>
                    <li><a href="#">Chat 1</a></li>
                    <li><a href="#">Chat 2</a></li>
                </ul>

            </div>
            <div class="content">
                <div class="chat-container">
                    <div class="chat-messages" id="chatMessages"></div>

                    <div class="chat-input">
                        <input type="text" id="messageInput" placeholder="Type your message..." />
                        <button id="sendBtn">Send</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</body>
<script src="script.js"></script>
</body>

</html>